.article {
  background: var(--panel);
  position: relative;
  &__header {
    background: var(--panel);
    display: flex;
    align-items: center;
  }
  &__header-media {
    width: 60%;
    aspect-ratio: 1/1;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
    }
  }
  &__header-content {
    width: 40%;
    background: var(--panel);
    transform: translateX(-60px);
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 60px ;
    h1 {
      font-size: 64px;
      margin-bottom: 20px;
    }
    p {
      line-height: 1.4em;
    }
  }

  &__content {
    max-width: 990px;
    margin: 0 auto;
    padding: 60px;
  }
}

.article--hero {
  
  .article__content {
    background: var(--panel);
    transform: translateY(-80px);
  }
  .article__header {
    display: block;
  }
  .article__header-media {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
    }
  }
}

.article-back {
  background: var(--panel);;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 7px;
  display: block;
  margin: 20px auto 0;
  position: absolute;
  top: 20px;
  left: 40px;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
  z-index: 2;
  svg {
    width: 36px;
    height: 36px;
  }
}