:root {
  --background: #ffffff;
  --foreground: #111;
  --panel: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --panel: #222;
  }
  .site-header__logo {
    filter: saturate(0) brightness(0) invert(1);
    img {
      height: 56px;
      width: auto;
    }
  }
}

html,
body {
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

.page {
  background: var(--panel);
  min-height: 100vh;
  position: relative;
  padding-left: 120px;
  z-index: 1;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  border-radius: 20px;
  overflow: hidden;
  margin:0 auto;

  iframe,
  & > div {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  lite-youtube {
    max-width: 100%;
  }
}

.site-footer {
  background: #333;
  color: #ccc;
  padding: 20px 30px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    display: inline-block;
    margin-left: 20px;
  }
}


